@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap');
*  {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {   
    background-image: url("images/bg-hero-desktop.svg");
    background-size: cover;
    height: 600px;
    background-color: hsl(193, 100%, 96%);;

}
.logo{
    float:left;
}

nav ul {
   list-style: none;
   padding: 50px;
}



.button1 {
    border-radius: 25px;
    border: none;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    width: 130px;
    box-shadow: 0 3px 10px rgb(0,0,0,0.4);
    float:right;
}
h1 {
    font-weight:bold;
    font-family:[Poppins];
    
}
p{
  font-size: 18px;
  color:grey;
  

}
.button2 {
    background-color: hsl(322, 100%, 66%);
    color: white;
    border-radius: 25px;
    border: none;
    text-align: center;
    padding: 10px;
    width: 200px;
    box-shadow: 0 3px 10px rgb(0,0,0,0.4);
    margin: 50px;
    
    /*animation*/
    
    z-index: 0;
    animation: move 3s linear infinite alternate;
}
@keyframes move {
    from { z-index: 0; transform: scale(1); }
    to { z-index: 2; transform: scale(1.5); }
  }

.borders{
    margin: 80px;
    margin-bottom: 50px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 3px 10px rgba(121, 120, 120, 0.4);
    height: 300px;
    border-radius: 10px;
    border-color: white;
    position: relative;
   
    
}
.left-text{
    float: left;
    margin: 50px;
    padding-top: 25px;
}

.right-text{
    float: right;
    margin: 50px;
    padding-top: 25px;
}

.center-border{
    border-style: solid;
    box-shadow: 0 3px 10px rgba(121, 120, 120, 0.4);
    border-color: white;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 10px;
    width: 40%;
    margin-top: -80px;
    text-align: center;
    background-color: white;
    
    

}
    
footer{
    position: relative;
    z-index:-1;
    color:white;
    font-size:18px;
    background-color: hsl(192, 100%, 9%);
    background-size: cover;
    /*animation*/
    
}


.icons{
    margin-right:1em;
    display:inline-block;
    
   
}
.filter-logo {
    filter:grayscale(50%);
    filter:invert(70%);
    
}
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    float:left;
    background-color: hsl(192, 100%, 9%);
    width:100%;
    align-content: center;

}
.grid:hover{
    text-decoration: underline;
    
}

.grid > div {
  
    text-align: center;
    padding: 10px 0;
    
}


